
<%- include('style'); -%>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" >
    <div class="container d-flex align-items-center">

      <div class="logo me-auto"><a href="/"  style="font-weight: bolder;font-size: 18px;">Garbage Management System</a></div>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero"><span class="fa fa-home"> Home </span></a></li>
          <li><a class="nav-link scrollto" href="/dustbin-filler"><span class="fa fa-info-circle" aria-hidden="true"> Dustbin Filler</span></a></li>
          <% if(locals.data1){
             %>
             <% if(data1 == 1){ %>
          <li><a class="nav-link scrollto" href="/driver-dashboard"><span class="fa fa-trash"> View Dustbin</span></a></li>
          <li><a class="nav-link scrollto" href="/driver-logout"><span class="fa fa-sign-out-alt"> LOG OUT</span></a></li>
          <% } } %>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->

          
          <% if(locals.adminInfo) { %>
          
          <li><a class="nav-link scrollto" href="/admin-dashboard"><span class="fa fa-user"> welcome <%= adminInfo[0]["admin-name"] %></span></a></li>
          <li><a class="nav-link scrollto" href="/admin-logout"><span class="fas fa-sign-out-alt">Logout</span></a></li>
          <% }%>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  