<%- include('../header') %>

    <div
        style="display: flex;justify-content: center;align-items: center; background-color:  rgb(123, 202, 123); height: 100%;">
        <div class="p-5 bg-success text-light" style="border-radius: 20px;">
                Thank you for your Complaint, Please Note down complaint id <b> <%= complainId %> </b>, It take 1 day to proccess your query so be pation. 
              <br>
              <div class="text-center">
                <a href="/" class="text-primary">click here to continue</a>
            </div>
        </div>
    </div>